@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic&display=swap');

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: 'Nanum Gothic', sans-serif;
	background-color: whitesmoke;
}

h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 40px;
	letter-spacing: 5px;
}

/* Loader Styles */
.loader {
	position: fixed;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);
}

.loader img {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);   
}

/* Image Continer Styles */
.image-container {
	margin: 10px 30%;
}

.image-container img {
	margin-top: 10px;
	width: 100%;
}

/* Media Query - Large Smartphones and Tablets */
@media screen and (max-width: 600px) {
	h1 {
		font-size: 19px;
	}

	.image-container {
		margin: 10px;
	}
}